# TITLE: Group Project Proposal: Heart Attack Analysis #

In [11]:

library(tidyverse)
library(repr)
library(readxl)

options(repr.matrix.max.rows = 6)

In [13]:
url <- ""
canlang_data <- read_csv(url)

Rows: 303 Columns: 14
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
dbl (14): age, sex, cp, trtbps, chol, fbs, restecg, thalachh, exng, oldpeak,...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

    age sex cp trtbps chol fbs restecg thalachh exng oldpeak slp caa thall
1   63  1   3  145    233  1   0       150      0    2.3     0   0   1
2   37  1   2  130    250  0   1       187      0    3.5     0   0   2
3   41  0   1  130    204  0   0       172      0    1.4     2   0   2
⋮   ⋮   ⋮   ⋮  ⋮      ⋮    ⋮   ⋮       ⋮        ⋮    ⋮       ⋮   ⋮   ⋮
301 68  1   0  144    193  1   1       141      0    3.4     1   2   3
302 57  1   0  130    131  0   1       115      1    1.2     1   1   3
303 57  0   1  130    236  0   0       174      0    0.0     1   1   2
    output
1   1
2   1
3   1
⋮   ⋮
301 0
302 0
303 0

#### Introduction ####